{% extends "layout.html" %}
{% block css %}
    <style>
        .error-404{
            font-size: 18rem;
        }
        .center{
            height: 78vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .gif{
            height: 50vh;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="center">
        <h1 class="error-404">4</h1>
        <img class="gif" src="/media/easter-egg.gif">
        <h1 class="error-404">4</h1>
    </div>
{% endblock %}