{% extends "layout.html" %}
{% block css %}
<style>
    form{
        padding: 10vw;
    }

</style>
{% endblock %}
{% block content %}
<form action="{{ url_for('.addSchedule') }}" method="POST">
    <div class="form-floating mb-3">
        <select class="form-select" id="cid1" name="schedule-from-city-id">
            {% for cityObj in response_data['data']['list-city'] %}
                <option value="{{cityObj['city-id']}}"> {{cityObj['city-name']}} </option>
            {% endfor %}
        </select>
        <label for="cid1">From City</label>
    </div>

    <div class="form-floating mb-3">
        <select class="form-select" id="cid2" name="schedule-to-city-id">
            {% for cityObj in response_data['data']['list-city'] %}
                <option value="{{cityObj['city-id']}}"> {{cityObj['city-name']}} </option>
            {% endfor %}
        </select>
        <label for="cid2">To City</label>
    </div>

    <div class="form-floating mb-3">
        <input type="date" class="form-control" id="fromdate" name="schedule-from-date" autocomplete="off">
        <label for="fromdate">From Date</label>
    </div>

    <div class="form-floating mb-3">
        <input type="date" class="form-control" id="todate" name="schedule-to-date" autocomplete="off">
        <label for="todate">To Date</label>
    </div>

    <div class="form-floating mb-3">
        <input type="time" class="form-control" id="fromtime" name="schedule-departure-time" autocomplete="off">
        <label for="fromtime">From Time</label>
    </div>

    <div class="form-floating mb-3">
        <input type="time" class="form-control" id="totime" name="schedule-drop-time" autocomplete="off">
        <label for="totime">To Time</label>
    </div>

    <div class="form-floating mb-3">
        <select class="form-select" id="operatorusername" name="operator-username">
            {% for operatorObj in response_data['data']['list-operator'] %}
                <option value="{{operatorObj['operator-username']}}"> {{operatorObj['operator-name']}} </option>
            {% endfor %}
        </select>
        <label for="operatorusername">Operator Name</label>
    </div>

    <div class="form-floating mb-3">
        <input type="number" class="form-control" id="fairfees" name="schedule-fair-fees" autocomplete="off">
        <label for="fairfees">Fair Fees</label>
    </div>

    <div class="form-floating mb-3">
        <select class="form-select" id="bid" name="bus-number-plate">
            {% for busObj in response_data['data']['list-bus'] %}
                <option value="{{busObj['bus-number-plate']}}"> {{busObj['bus-number-plate']}} </option>
            {% endfor %}
        </select>
        <label for="bid">Assign Bus</label>
    </div>

    <button type="submit" class="btn btn-primary"> Submit </button>
</form>
{% endblock %}