{% extends "layout.html" %}
{% block css %}
<style>
    form{
        padding: 10vw;
    }

</style>
{% endblock %}
{% block content %}
<form action="{{ url_for('.addStop') }}" method="POST">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="name" placeholder="Stop Name" name="stop-name" autocomplete="off">
        <label for="name">Stop Name</label>
    </div>

    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="address" placeholder="Stop Address" name="stop-address" autocomplete="off">
        <label for="address">Stop Address</label>
    </div>

    <div class="form-floating mb-3">
        <select class="form-select" id="cid" name="city-id">
            {% for cityObj in response_data['data']['list-city'] %}
                <option value="{{cityObj['city-id']}}"> {{cityObj['city-name']}} </option>
            {% endfor %}
        </select>
        <label for="cid">Stop In City</label>
    </div>

    <button type="submit" class="btn btn-primary"> Submit </button>
</form>
{% endblock %}