{% extends "layout.html" %}
{% block css %}
<style>
    form{
        padding: 10vw;
    }

</style>
{% endblock %}
{% block content %}
<div class="alert alert-warning" role="alert" id="not-match-alert" hidden>
    New Password and Confirm Password don't Match!
</div>
<div class="alert alert-warning" role="alert" id="same-password-alert" hidden>
    New Password and Old Password should be Different!
</div>
<form action="{{ url_for('.changePassword') }}" method="POST" onsubmit="validateData(event)">
    <div class="form-floating mb-3">
        <input type="password" class="form-control" id="old-password" name="{{ response_data['label']['old-password'] }}" placeholder="pass" required>
        <label for="old-password">Old Password</label>
    </div>
    
    <div class="form-floating mb-3">
        <input type="password" class="form-control" id="new-password" name="{{ response_data['label']['password'] }}" placeholder="pass" required>
        <label for="new-password">New Password</label>
    </div>
    
    <div class="form-floating mb-3">
        <input type="password" class="form-control" id="confirm-password" placeholder="pass" required>
        <label for="confirm-password">Confirm New Password</label>
    </div>
    
    <button type="submit" class="btn btn-primary"> Submit </button>

    <script>
        const oldPassword = document.getElementById('old-password');
        const newPassword = document.getElementById('new-password');
        const confirmPassword = document.getElementById('confirm-password');
        const notMatchAlert = document.getElementById('not-match-alert');
        const samePasswordAlert = document.getElementById('same-password-alert');
        
        function validateData(e)
        {
            if(newPassword.value !== confirmPassword.value)
            {
                e.preventDefault();
                notMatchAlert.hidden = false;
                setTimeout(() => {
                    notMatchAlert.hidden = true;
                }, 3000);
            }
            
            if(oldPassword.value === newPassword.value)
            {
                e.preventDefault();
                samePasswordAlert.hidden = false;
                setTimeout(() => {
                    samePasswordAlert.hidden = true;
                }, 3000);
            }
        }
    </script>
</form>
{% endblock %}