{% extends "layout.html" %}
{% block css %}
<style>
    :root{
        --btn-red-color: rgb(255, 62, 62);
    }
    .signup-user-container{
        display: flex;
        height: 80vh;
        justify-content: space-evenly;
        align-items: center;
    }
    .signup-user{
        background-color: rgb(216, 216, 255);
        color: var(--btn-red-color);
        width: 20vh;
        height: 20vh;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 4px var(--btn-red-color) solid;
        border-radius: 10%;
        cursor: pointer;
        text-decoration: none;
        font-size: 1.5em;
        font-weight: bold;
        transition: all 200ms;
    }
    .signup-user:hover{
        background-color: var(--btn-red-color);
        color: white;
        box-shadow: 0 0 10px grey;
    }
</style>
{% endblock %}
{% block content %}
<div class="signup-user-container">
    <a class="signup-user" href="{{ url_for('.signUp', role='owner') }}">
        Agency
    </a>
    <a class="signup-user" href="{{ url_for('.signUp', role='customer') }}">
        Customer
    </a>
</div>
{% endblock %}