{% extends "layout.html" %}
{% block css %}
<style>
    :root{
        --btn-blue-color: rgb(62, 62, 255);
    }
    .login-user-container{
        display: flex;
        height: 80vh;
        justify-content: space-evenly;
        align-items: center;
    }
    .login-user{
        background-color: rgb(216, 216, 255);
        color: var(--btn-blue-color);
        width: 25vh;
        height: 25vh;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 4px var(--btn-blue-color) solid;
        border-radius: 10%;
        cursor: pointer;
        text-decoration: none;
        font-size: 1.5em;
        font-weight: bold;
        transition: all 200ms;
    }
    .login-user:hover{
        background-color: var(--btn-blue-color);
        color: white;
        box-shadow: 0 0 10px grey;
    }
</style>
{% endblock %}
{% block content %}
<div class="login-user-container">
    <a class="login-user" href="{{ url_for('.login', role='owner') }}">
        Agency
    </a>
    <a class="login-user" href="{{ url_for('.login', role='operator') }}">
        Operator
    </a>
    <a class="login-user" href="{{ url_for('.login', role='customer') }}">
        Customer
    </a>
</div>
{% endblock %}