{% extends "layout.html" %}
{% block css %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookMyBus</title>
    <link rel="shortcut icon" href="./media/ico.ico" type="image/x-icon">
    <link rel="stylesheet" href="./css/index.css"/>
{% endblock %}

{% block content%}
    <div class="body-container">
        <form action="">
            <center>
                <div class="form-group fromLocation">
                    <label for="fromLocationInput">
                        <span>
                            From
                            <img id="mapLocation1" src="./media/map-location1.1.svg" />
                        </span>
                    </label>
                    <input autocomplete="false" list="fromLocation" name="fromLocation" value="Osmanabad"
                        id="fromLocationInput" onfocus="animateMapLocation1()" onblur="animateMapLocation1RM()">
                    <datalist id="fromLocation">
                        <option value="Pune">
                        <option value="Osmanabad">
                        <option value="Solapur">
                        <option value="Aurangabad">
                        <option value="Nagpur">
                        <option value="Satara">
                        <option value="Mumbai">
                        <option value="Delhi">
                        <option value="Goa">
                        <option value="Nanded">
                    </datalist>
                </div>
                <div class="form-group toLocation">
                    <label for="toLocationInput">
                        <span>
                            To
                            <img src="./media/map-location2.svg" />
                        </span>
                    </label>
                    <input autocomplete="false" list="toLocation" name="toLocation" value="Pune" id="toLocationInput">
                    <datalist id="toLocation">
                        <option value="Pune">
                        <option value="Osmanabad">
                        <option value="Solapur">
                        <option value="Aurangabad">
                        <option value="Nagpur">
                        <option value="Satara">
                        <option value="Mumbai">
                        <option value="Delhi">
                        <option value="Goa">
                        <option value="Nanded">
                    </datalist>
                </div>
            </center>
        </form>
        <hr style="width: 80%; margin:2rem auto; margin-bottom:0; border-color: #55555533;" />
        <ul class="cardList">
            <li class="card">
                <div class="left">
                    <div class="card-head">
                        <h1><img src="./media/bus-icon.svg" />Shree Sairam Travels</h1>
                        <h2>
                            <img src="./media/date.svg" />
                            Date:
                            <span class="imp">15/01/2002</span>
                            <span style="margin:0 10px">|</span>
                            <img src="./media/clock.svg" />
                            Time:
                            <span class="imp">10:00 <span class="imp0"> AM</span></span>
                        </h2>
                    </div>
                    <hr />
                    <div class="card-head">
                        <p>From: <strong class="imp">Pune </strong> | To: <strong class="imp1">Osmanabad</strong></p>
                        <p class="available">Available Seats: <strong>50</strong></p>
                    </div>
                </div>
                <div class="right">
                    <a href="./bookbus">Book</a>
                </div>
            </li>
            <li class="card">
                <div class="left">
                    <div class="card-head">
                        <h1><img src="./media/bus-icon.svg" />Black Oasis Travels</h1>
                        <h2>
                            <img src="./media/date.svg" />
                            Date:
                            <span class="imp">15/01/2002</span>
                            <span style="margin:0 10px">|</span>
                            <img src="./media/clock.svg" />
                            Time:
                            <span class="imp">12:30 <span class="imp0"> PM</span></span>
                        </h2>
                    </div>
                    <hr />
                    <div class="card-head">
                        <p>From: <strong class="imp">Pune </strong> | To: <strong class="imp1">Osmanabad</strong></p>
                        <p class="available">Available Seats: <strong>50</strong></p>
                    </div>
                </div>
                <div class="right">
                    <a href="./bookbus">Book</a>
                </div>
            </li>
            <li class="card">
                <div class="left">
                    <div class="card-head">
                        <h1><img src="./media/bus-icon.svg" />Sangitam Travels</h1>
                        <h2>
                            <img src="./media/date.svg" />
                            Date:
                            <span class="imp">15/01/2002</span>
                            <span style="margin:0 10px">|</span>
                            <img src="./media/clock.svg" />
                            Time:
                            <span class="imp">01:45 <span class="imp0"> PM</span></span>
                        </h2>
                    </div>
                    <hr />
                    <div class="card-head">
                        <p>From: <strong class="imp">Pune </strong> | To: <strong class="imp1">Osmanabad</strong></p>
                        <p class="not-available"><strong>Not Available</strong></p>
                    </div>
                </div>
                <div class="right">
                    <a class="disabled" href="./bookbus">Book</a>
                </div>
            </li>
            <li class="card">
                <div class="left">
                    <div class="card-head">
                        <h1><img src="./media/bus-icon.svg" />Night Owl Travels</h1>
                        <h2>
                            <img src="./media/date.svg" />
                            Date:
                            <span class="imp">15/01/2002</span>
                            <span style="margin:0 10px">|</span>
                            <img src="./media/clock.svg" />
                            Time:
                            <span class="imp">5:30 <span class="imp0"> AM</span></span>
                        </h2>
                    </div>
                    <hr />
                    <div class="card-head">
                        <p>From: <strong class="imp">Pune </strong> | To: <strong class="imp1">Osmanabad</strong></p>
                        <p class="available">Available Seats: <strong>50</strong></p>
                    </div>
                </div>
                <div class="right">
                    <a href="./bookbus">Book</a>
                </div>
            </li>
        </ul>
    </div>

    <script>
        function animateMapLocation1() {
            img = document.getElementById("mapLocation1");
            img.classList.add("animate");
            img.classList.remove("animateRM");
        }

        function animateMapLocation1RM() {
            img = document.getElementById("mapLocation1");
            img.classList.add("animateRM");
            img.classList.remove("animate");
        }
    </script>
{% endblock %}