{% extends "layout.html" %}
{% block css %}
    <link rel="stylesheet" href="/css/landingPage.css" />
{% endblock %}
{% block content %}


<div class="landing-page-container">
    <div class="user-header-container">
        <h2>
            Welcome, {{ response_data['data']['customer']['customer-name'] }}!
        </h2>
            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Your Profile</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th scope="row">Username</th>
                                    <td>{{ response_data['data']['customer']['customer-username'] }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Password</th>
                                    <td>******</td>
                                </tr>
                                <tr>
                                    <th scope="row">Name</th>
                                    <td>{{ response_data['data']['customer']['customer-name'] }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Contact</th>
                                    <td>{{ response_data['data']['customer']['customer-contact'] }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
            </div>
        <img class="user-profile-img" src="media/user-128.svg"  data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    </div>
    <hr>

    <a class="landing-page-action" href="{{ url_for('.updateCustomerProfile') }}"> Update Profile </a>
    <a class="landing-page-action" href="{{ url_for('.changePassword') }}"> Reset Password </a>
    <a class="landing-page-action" href="{{ url_for('.registerPassenger') }}"> Register Passenger </a>
    <a class="landing-page-action" href="{{ url_for('.viewPassengers') }}"> View My Passengers </a>
    <a class="landing-page-action" href="{{ url_for('.viewSchedules') }}"> View Schedules </a>
    <a class="landing-page-action" href="{{ url_for('.viewBookings') }}"> View My Bookings </a>

</div>

{% endblock %}