<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookMyBus</title>
    <link rel="shortcut icon" href="/media/ico.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/layout.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

    <!-- Add Css for different components -->
    {% block css %}
    
    {% endblock  %}
</head>

<body>
    <!-- Header of the layout -->
    <div class="main-container-layout">
        <header>
            <nav>
                <span>
                    <a href="/">
                        <img src="/media/bus2.svg" />
                        <h1>BookMyBus</h1>
                    </a>
                </span>
                <ul>
                    {% if response_data['options'] and response_data['options']['nav-btn'] %}
                        {% if 'signUp' in response_data['options']['nav-btn'] %}
                            <li>
                                <form method="get" action="{{url_for('request_routes.chooseSignUp')}}">
                                    <button class="login-btn">SignUp</button>
                                </form>
                            </li>
                        {% endif %}
                        {% if 'logIn' in response_data['options']['nav-btn'] %}
                            <li>
                                <form method="get" action="{{url_for('request_routes.chooseLogin')}}">
                                    <button class="login-btn">Login</button>
                                </form>
                            </li>
                        {% endif %}
                        {% if 'logOut' in response_data['options']['nav-btn'] %}
                            <li>
                                <form method="POST" action="{{url_for('request_routes.logout')}}">
                                    <button class="logout-btn">Logout</button>
                                </form>
                            </li>
                        {% endif %}
                    {% endif %}
                </ul>
            </nav>

        <!-- Flash message rendering component -->
        {% with messages = get_flashed_messages(with_categories=true) %}  
            {% if messages %}
                {% for category, message in messages %}  
                    {% if category == 'success' %}
                        <div id="flash-message-container" class="flash-message-success">
                    {% endif %}
                    {% if category == 'error' %}
                        <div id="flash-message-container" class="flash-message-error">
                    {% endif %}
                    {% if category == 'warning' %}
                        <div id="flash-message-container" class="flash-message-warning">
                    {% endif %}
                            <div class="flash-message">
                                <strong>&#9432;</strong> {{ message }} 
                            </div>
                            <button id="flash-message-btn">
                                &#10006;
                            </button>
                        </div>
                {% endfor %}
            {% endif %}  
        {% endwith %} 
        
        </header>
        
        <!-- Main Content -->
        <div class="content-container ">
            {% block content %}
            
            {% endblock %}
        </div>
    </div>

    <!-- Script for handling flash message closing -->
    <script>
        function removeFlashContainer()
        {
            const flashContainer = document.getElementById("flash-message-container");
            if(flashContainer != null)
                    flashContainer.remove();
        }

        window.addEventListener('load', function(){
            setTimeout(function(){
                removeFlashContainer();
            }, 5000);
        });
        
        const flashContainer = document.getElementById("flash-message-btn");
        if(flashContainer != null)
            flashContainer.addEventListener("click", function(){
                removeFlashContainer();
            });
    </script>
</body>
</html>