<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookMyBus</title>
    <link rel="shortcut icon" href="./media/ico.ico" type="image/x-icon">
    <link rel="stylesheet" href="./css/layout.css"/>
    
    <!-- Add Css for different components -->
    {% block css %}
    
    {% endblock  %}
</head>

<body>
    <!-- Header of the layout -->
    <div class="main-container-layout">
        <header>
            <nav>
                <span>
                    <a href="./">
                        <img src="./media/bus2.svg" />
                        <h1>BookMyBus</h1>
                    </a>
                </span>
                <ul>
                    <li><a href="./">Home</a></li>
                </ul>
            </nav>
        </header>
        <!-- Flash message rendering component -->
        {% with messages = get_flashed_messages() %}  
            {% if messages %}
                {% for message in messages %}  
                <div id="flash-message-container" class="flash-message-success">
                    <div class="flash-message">
                        <strong>&#9432;</strong> {{ message }} 
                    </div>
                    <button id="flash-message-btn">
                        &#10006;
                    </button>
                </div>
                {% endfor %}
            {% endif %}  
        {% endwith %} 
        
        <!-- Main Content -->
        <div class="content-container ">
            {% block content %}
            
            {% endblock %}
        </div>
    </div>

    <!-- Script for handling flash message closing -->
    <script>
        window.addEventListener('load', function(){
            setTimeout(function(){
                document.getElementById("flash-message-container").remove();
            }, 5000);
        });
        document.getElementById("flash-message-btn").addEventListener("click", function(){
            document.getElementById("flash-message-container").remove();
        });
    </script>
</body>
</html>