{% extends "layout.html" %}
{% block css %}
<style>
    form{
        padding: 10vw;
    }

</style>
{% endblock %}
{% block content %}
<form action="{{ url_for('.registerPassenger') }}" method="POST">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="name" placeholder="John Doe" name="passenger-name">
        <label for="name">Passenger Name</label>
    </div>
    <div class="form-floating mb-3">
        <input type="number" class="form-control" id="age" placeholder="45" name="passenger-age">
        <label for="age">Passenger Age</label>
    </div>
    <fieldset class="form-group mb-3">
        <legend class="col-form-label">
            Passenger Gender
        </legend>
        <div class="row">
            <div class="col-sm-12">
            <div class="form-check d-inline-block">
                {# <label for="gender">Passenger Gender:</label> #}
                <input class="form-check-input" type="radio" value="M" name="passenger-gender" id="gender-male">
                <label class="form-check-label" for="gender-male">Male</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" value="F" name="passenger-gender" id="gender-female">
                <label class="form-check-label" for="gender-female">Female</label>
            </div>
            </div>
        </div>
    </fieldset>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="age" placeholder="9876543210" name="passenger-contact">
        <label for="age">Passenger Contact</label>
    </div>
    
    <button type="submit" class="btn btn-primary"> Submit </button>
</form>
{% endblock %}

{# {% extends "layout.html" %}
{% block css %}
    <style>
        fieldset{
            border:0 none;
            display: inline;
        }
    </style>
{% endblock  %}
{% block content %}
<form id='stopForm' action="{{ url_for('.registerPassenger') }}" method="POST">
    <label for="name">Passenger Name:</label>
    <input type="text" id="name" name="passenger-name"><br><br>

    <label for="age">Passenger Age:</label>
    <input type="number" id="age" name="passenger-age"><br><br>

    <label for="gender">Passenger Gender:</label>
    <fieldset id="gender">
        <label for="gender-male">Male</label>
        <input id="gender-male" type="radio" value="M" name="passenger-gender">
        <label for="gender-female">Female</label>
        <input id="gender-female" type="radio" value="F" name="passenger-gender">
    </fieldset>
    <br><br>

    <label for="contact">Passenger Contact:</label>
    <input type="tel" id="contact" name="passenger-contact"><br><br>

    <input type="submit">

</form>
{% endblock %} #}