{% macro viewBusPassengerDetails(response_data) -%}
    <style>
        .passenger-table-grid {
            background-color: black;
            display: grid;
            grid-template-columns: .3fr .3fr 1fr 1fr 1fr 1fr;
            row-gap: 1px;
        }

        .table-entire-row{
            grid-column-start: 1;
            grid-column-end: -1;
        }
    </style>
    <div class="table-cell table-cell-header table-entire-row">
        Passengers Details
    </div>
    <div class="passenger-table-grid table-entire-row">
        <div class="table-cell table-cell-header">
            #
        </div>

        <div class="table-cell table-cell-header">
            Seat No
        </div>

        <div class="table-cell table-cell-header">
            Passenger
        </div>
        
        <div class="table-cell table-cell-header">
            Customer
        </div>
        
        <div class="table-cell table-cell-header">
            Boarding Stop
        </div>
        
        <div class="table-cell table-cell-header">
            Dropping Stop
        </div>
        
        {% for bookingObj in response_data['data']['list-booking'] %}
             <div class="table-cell">
                {{ loop.index }}.
            </div>

            <div class="table-cell">
                {{bookingObj['booking']['seat-no']}}
            </div>
            
            <div class="table-cell">
                {% set passengerName = bookingObj['passenger']['passenger-name'] %}
                {% set passengerContact = bookingObj['passenger']['passenger-contact'] %}
                {% set passengerAge = bookingObj['passenger']['passenger-age'] %}
                {% if bookingObj['passenger']['passenger-gender'] == 'M' %}
                    {% set passengerGender = 'Male' %}
                {% else %}
                    {% set passengerGender = 'Female' %}
                {% endif %}

                {{passengerName}} <br>
                [{{passengerAge}} {{passengerGender}}] <br>
                ({{passengerContact}})
            </div>

            <div class="table-cell">
                {{bookingObj['customer']['customer-name']}} <br>
                ({{bookingObj['customer']['customer-contact']}})
            </div>

            <div class="table-cell">
                {{bookingObj['from-stop']['stop-name']}}
            </div>

            <div class="table-cell">
                {{bookingObj['to-stop']['stop-name']}}
            </div>
        {% endfor %}
    </div>
{%- endmacro %}