{% extends "layout.html" %}
{% block css %}
<style>
    form{
        padding: 10vw;
    }

</style>
{% endblock %}
{% block content %}
<form action="{{ url_for('.updateOwnerProfile') }}" method="POST">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="name" placeholder="John Doe Travels Agency" name="{{ response_data['label']['name'] }}" autocomplete="off">
        <label for="name">Agency Name</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="contact" placeholder="9876543210" name="{{ response_data['label']['contact'] }}" autocomplete="off">
        <label for="contact">Contact</label>
    </div>
    
    <button type="submit" class="btn btn-primary"> Submit </button>
</form>
{% endblock %}