{% extends "layout.html" %}
{% block css %}
    <link rel="stylesheet" href="/css/tables.css">
{% endblock %}
{# 
'''
    filters[fromCity] = cityName
    filters[toCity] = cityName
    filters[timeblock] = morning / afternoon / evening / night / all
    filters[busType] = sleep / seat / all
    filters[owner] = ownerUsername / all
    filters[sortPrice] = asc / desc / none
'''

filterFromCity = 'filter-from-city'
filterToCity = 'filter-to-city'
filterTimeBlock = 'filter-time-block'
filterBusType = 'filter-bus-type'
filterSortPrice = 'filter-sort-price'

timeBlockMorning = 'time-morning'
timeBlockNoon = 'time-noon'
timeBlockEvening = 'time-evening'
timeBlockNight = 'time-night' #}

{% block content %}
    <div>
        <h2 class="main-title">
            View Schedules
        </h2>
        <div class="search-options">
            <form action="{{url_for('.viewSchedules')}}" method="POST" class="d-flex justify-content-center flex-column">
                <div class="input-group">
                    <div class="form-floating">
                        <select id="fromcity" class="form-select" name="filter-from-city">
                            {% for cityObj in response_data['data']['list-city'] %}
                                <option value="{{cityObj['city-id']}}"> {{cityObj['city-name']}} </option>
                            {% endfor %}
                        </select>
                        <label for="fromcity">From City</label>
                    </div>
                    <div class="form-floating">
                        <select id="tocity" class="form-select" name="filter-to-city">
                            {% for cityObj in response_data['data']['list-city'] %}
                                <option value="{{cityObj['city-id']}}"> {{cityObj['city-name']}} </option>
                            {% endfor %}
                        </select>
                        <label for="tocity">To City</label>
                    </div>
                    <div class="form-floating">
                        <input type="date" class="form-control" id="fromdate" name="filter-date">
                        <label for="fromdate">Date</label>
                    </div>
                </div>
                <div class="input-group">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="agency" name="owner-agency-name" placeholder="All" autocomplete="off">
                        <label for="agency">Agency Name</label>
                    </div>
                </div>
                <div class="input-group">
                    <fieldset class="form-group border rounded p-3 w-100">
                        <legend class="col-form-label float-none w-auto p-0">
                            Bus Type
                        </legend>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-check-inline">
                                    <input class="form-check-input" type="radio" value="SLEEP" name="filter-bus-type" id="sleep">
                                    <label class="form-check-label" for="sleep">Sleeping</label>
                                </div>
                                <div class="form-check-inline">
                                    <input class="form-check-input" type="radio" value="SEAT" name="filter-bus-type" id="seat">
                                    <label class="form-check-label" for="seat">Seating</label>
                                </div>
                                <div class="form-check-inline">
                                    <input class="form-check-input" type="radio" value="all" name="filter-bus-type" id="all" checked>
                                    <label class="form-check-label" for="all">All</label>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="input-group">
                    <fieldset class="form-group border rounded p-3 w-100">
                        <legend class="col-form-label float-none w-auto p-0">
                            Departure Time
                        </legend>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-check-inline">
                                    <input class="form-check-input" type="radio" value="time-morning" name="filter-time-block" id="time-morning">
                                    <label class="form-check-label" for="time-morning">Morning</label>
                                </div>
                                <div class="form-check-inline">
                                    <input class="form-check-input" type="radio" value="time-noon" name="filter-time-block" id="time-noon">
                                    <label class="form-check-label" for="time-noon">Noon</label>
                                </div>
                                <div class="form-check-inline">
                                    <input class="form-check-input" type="radio" value="time-evening" name="filter-time-block" id="time-evening">
                                    <label class="form-check-label" for="time-evening">Evening</label>
                                </div>
                                <div class="form-check-inline">
                                    <input class="form-check-input" type="radio" value="time-night" name="filter-time-block" id="time-night">
                                    <label class="form-check-label" for="time-night">Night</label>
                                </div>
                                <div class="form-check-inline">
                                    <input class="form-check-input" type="radio" value="all" name="filter-time-block" id="time-all" checked>
                                    <label class="form-check-label" for="time-all">All</label>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="input-group">
                    <fieldset class="form-group border rounded p-3 w-100">
                        <legend class="col-form-label float-none w-auto p-0">
                            Sort Price
                        </legend>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-check-inline">
                                    <input class="form-check-input" type="radio" value="asc" name="filter-sort-price" id="sortasc">
                                    <label class="form-check-label" for="sortasc">Ascending</label>
                                </div>
                                <div class="form-check-inline">
                                    <input class="form-check-input" type="radio" value="desc" name="filter-sort-price" id="sortdesc">
                                    <label class="form-check-label" for="sortdesc">Descending</label>
                                </div>
                                <div class="form-check-inline">
                                    <input class="form-check-input" type="radio" value="no" name="filter-sort-price" id="nosort" checked>
                                    <label class="form-check-label" for="nosort">Don't Sort</label>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <button type="submit" class="btn btn-primary mt-2 mb-2 m-auto w-50">Search</button>
            </form>
        </div>
        
        <table class="table table-primary table-striped table-bordered border-primary">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Trip</th>
                    <th scope="col">Departure Date/Time</th>
                    <th scope="col">Dropping Date/Time</th>
                    <th scope="col">Fair Fees</th>
                    <th scope="col">Options</th>
                </tr>
            </thead>
            <tbody>
            {% for rowObj in response_data['data']['schedule'] %}
                {% if rowObj['schedule'] %}
                <tr>
                    <th scope="row">
                        {{ loop.index }}.
                    </th>
                    <td>
                        {{rowObj['from_city']['city-name']}} -To-
                        {{rowObj['to_city']['city-name']}}
                    </td>
                    <td>
                        {{rowObj['schedule']['schedule-from-date']}} <br> 
                        {{rowObj['schedule']['schedule-departure-time']}}
                    </td>
                    <td>
                        {{rowObj['schedule']['schedule-to-date']}} <br> 
                        {{rowObj['schedule']['schedule-drop-time']}}
                    </td>
                    <td>
                        &#8377; {{rowObj['schedule']['schedule-fair-fees']}}
                    </td>
                    <td>
                        {% if (rowObj['owner']['owner-username'] == response_data['options']['owner-username']) and response_data['options']['access-type'] == 'owner' %}
                            <form action="{{url_for('.viewScheduleDetails')}}" method="POST">
                                <input type="hidden" name="schedule-id" value="{{rowObj['schedule']['schedule-id']}}"/>
                                <button class="btn btn-primary" type="submit">View More</button>
                            </form>
                        {% endif %}
                        {% if response_data['options']['access-type'] == 'customer' %}
                            <form action="{{url_for('.bookSchedule')}}" method="POST">
                                <input type="hidden" name="schedule-id" value="{{rowObj['schedule']['schedule-id']}}"/>
                                <button class="btn btn-primary" type="submit">Book Schedule</button>
                            </form>
                        {% endif %}
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}