{% extends "layout.html" %}
{% block css %}
    <link rel="stylesheet" href="/css/tables.css">
{% endblock %}
{% block content %}

<div>
    <h2 class="main-title">
        My Busses
    </h2>
    
    <table class="table table-primary table-striped table-bordered border-primary">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Number Plate</th>
                <th scope="col">Bus Type</th>
                <th scope="col">Details</th>
            </tr>
        </thead>
        <tbody>
        {% for busObj in response_data['data']['list-bus'] %}
            {% if busObj %}
            <tr>
                <th scope="row">
                    {{loop.index}}
                </th>
                <td>
                    {{busObj['bus-number-plate']}}
                </td>
                <td>
                    {{busObj['bus-type']}}
                </td>
                <td>
                    <form action="{{url_for('.viewBusDetails')}}" method="POST">
                        <input type="hidden" name="bus-number-plate" value="{{busObj['bus-number-plate']}}" />
                        <button class="btn btn-primary" type="submit">View More</button>
                    </form>
                </td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}