{% extends "layout.html" %}
{% block css %}
    <link rel="stylesheet" href="/css/tables.css">
{% endblock %}
{% block content %}
    <div>
        <div class="main-title">
            <h2>
                View Schedule Details
            </h2>
        </div>
        <table class="table table-primary table-striped table-bordered border-primary">
            <tbody>
                <tr>
                    <th scope="row">
                        From City
                    </th>
                    <td>
                        {{response_data['data']['schedule']['from_city']['city-name']}}
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        To City
                    </th>
                    <td>
                        {{response_data['data']['schedule']['to_city']['city-name']}}
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        Departure Date / Time
                    </th>
                    <td>
                        {{response_data['data']['schedule']['schedule']['schedule-from-date']}} - 
                        {{response_data['data']['schedule']['schedule']['schedule-departure-time']}}
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        Dropping Date / Time
                    </th>
                    <td>
                        {{response_data['data']['schedule']['schedule']['schedule-to-date']}} -
                        {{response_data['data']['schedule']['schedule']['schedule-drop-time']}}
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        Bus Number Plate
                    </th>
                    <td>
                        {{response_data['data']['schedule']['bus']['bus-number-plate']}}
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        Bus Type
                    </th>
                    <td>
                        {{response_data['data']['schedule']['bus']['bus-type']}}
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        Bus Operator
                    </th>
                    <td>
                        {{response_data['data']['schedule']['schedule']['operator-username']}}
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        Schedule Fair Fees
                    </th>
                    <td>
                        &#8377; {{response_data['data']['schedule']['schedule']['schedule-fair-fees']}}
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        Stops
                    </th>
                    <td>
                        <!-- Display Stops -->
                        <table class="table table-primary table-striped table-bordered border-secondary">
                            {% for stopObj in response_data['data']['schedule']['list-stop'] %}
                                {% if stopObj %}
                                <tr>
                                    <th scope="row">
                                        {{loop.index}}.
                                    </th>
                                    <td>
                                        {{stopObj['stop']['stop-name']}} <br>
                                        {{stopObj['stop']['stop-address']}}, 
                                        {{stopObj['city']['city-name']}}
                                    </td>
                                </tr>
                                {% endif %}
                            {% endfor %}
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        {% from 'viewBusPassengerDetails.html' import viewBusPassengerDetails %}
        {{ viewBusPassengerDetails(response_data= response_data) }}
    </div>
            
{% endblock %}