{% extends "layout.html" %}
{% block css %}
<style>
    .component-main {
        font-size: larger;
        text-align: center;
    }

    .main-table-grid {
        background-color: black;
        display: grid;
        grid-template-columns: 1fr 3fr;
        row-gap: 1px;
    }

    .table-cell {
        background-color: lightgreen;
        padding: 2vh;
        border: 1px solid black;
    }

    .table-cell-header {
        background-color: burlywood;
    }
</style>
<link rel="stylesheet" href="/css/busSeatEditor.css">
{% endblock %}
{% block content %}
    <div class="component-main">
        <div class="main-title">
            View Bus Details
        </div>
        
        <div class="main-table-grid">
            <div class="table-cell table-cell-header">
                Bus Number Plate
            </div>
            <div id="bus-number-plate" class="table-cell">
                
            </div>

            <div class="table-cell table-cell-header">
                Bus Type
            </div>
            <div id="bus-bus-type" class="table-cell">
                
            </div>
            
            <div class="table-cell table-cell-header">
                Bus Total Floors
            </div>
            <div id="bus-total-floors" class="table-cell">
                
            </div>
            
            <div class="table-cell table-cell-header">
                Bus Floor Total Rows
            </div>
            <div id="bus-floor-rows" class="table-cell">
                
            </div>
            
            <div class="table-cell table-cell-header">
                Bus Floor Total Columns
            </div>
            <div id="bus-floor-columns" class="table-cell">
                
            </div>
            
            <div class="table-cell table-cell-header">
                Bus Walking Gap Row
            </div>
            <div id="bus-walking-gap-row" class="table-cell">

            </div>
        </div>
        <br><br>
        
        <div class="bus">
            <img class="bus-steering-wheel" src="/media/car-steering-wheel.svg" >
            <div id="bus-floor-1" class="bus-floor">

            </div>
        </div>
        <br><br>
        
        <div class="bus">
            <img class="bus-steering-wheel" src="/media/car-steering-wheel.svg" >
            <div id="bus-floor-2" class="bus-floor">
        
            </div>
        </div>
        <br><br>
        
        <script>
            let response_data = null
            const formData = new FormData();
            formData.append("bus-number-plate", "{{response_data['options']['bus-number-plate']}}")
            const data_url = "{{ url_for('getBusDetails') }}";
            fetch(data_url, {
                body : formData,
                method : "POST"
            })
            .then((response) => response.json())
            .then((json) => {
                response_data = json;
                jsonLoaded();
            });

            let busType = null;
            let totalFloors = null;
            let floorRows = null;
            let floorColumns = null;
            let walkingGapRow = null;
            
            const floor1 = document.getElementById("bus-floor-1");
            const floor2 = document.getElementById("bus-floor-2");
            
            function jsonLoaded()
            {
                document.getElementById('bus-number-plate').innerText = response_data['data']['bus']['bus-number-plate'];
                busType = response_data['data']['bus']['bus-bus-type'];
                totalFloors = response_data['data']['bus']['bus-total-floors'];
                floorRows = response_data['data']['bus']['bus-floor-rows'];
                floorColumns = response_data['data']['bus']['bus-floor-columns'];
                walkingGapRow = response_data['data']['bus']['bus-walking-gap-row'];
                document.getElementById('bus-bus-type').innerText = busType;
                document.getElementById('bus-total-floors').innerText = totalFloors;
                document.getElementById('bus-floor-rows').innerText = floorRows;
                document.getElementById('bus-floor-columns').innerText = floorColumns;
                document.getElementById('bus-walking-gap-row').innerText = walkingGapRow;

                changeTotalFloors();
                setSeats(floor1);
                nameSeats(floor1, 1);

                if(totalFloors == 2)
                {
                    setSeats(floor2);
                    nameSeats(floor2, floorRows +1);
                }
            }


            function setSeats(floorElement)
            {
                const totalSeats = floorRows * floorColumns;
                floorElement.innerHTML = "";
                let tmpGridTemplateRows = "";
                for(let i = 0; i < floorRows; i++)
                {
                    tmpGridTemplateRows += "1fr ";
                    if(i !== floorRows - 1)
                    {
                        tmpGridTemplateRows += "0.3fr ";
                    }
                }
                floorElement.style.gridTemplateRows = tmpGridTemplateRows;
                floorElement.style.gridTemplateColumns = "repeat(" + floorColumns +  ", 1fr)";

                for(let i=1; i<=totalSeats; i++)
                {
                    const seat = document.createElement("div");
                    floorElement.appendChild(seat);
                    seat.innerText = i;
                    seat.classList.add("bus-cell");
                    if(busType == "SEAT")
                    {
                        seat.classList.add("bus-cell-seat");
                    }
                    else if(busType == "SLEEP")
                    {
                        seat.classList.add("bus-cell-sleep");
                    }
                    seat.classList.add("bus-cell-enable");

                    if(i < floorRows)
                    {
                        const walkingGap = document.createElement("span");
                        floorElement.appendChild(walkingGap);
                        walkingGap.classList.add("bus-waliking-gap");
                        walkingGap.style.gridColumnStart = "span " + floorColumns;
                    }
                }
            }

            function nameSeats(floorElement, startSeatNumber)
            {
                let floorTag = "L";
                if(floorElement.id === "bus-floor-2")
                {
                    floorTag = "U";
                }
                const seats = floorElement.getElementsByTagName("div");
                let seatNumber = startSeatNumber;
                for(let i=0; i<seats.length; i++)
                {
                    if(i % floorRows === 0 && i !== 0 && (totalFloors == 2))
                    {
                        seatNumber = seatNumber + floorRows;
                    }
                    seats[i].innerText = seatNumber + floorTag;
                    seats[i].dataset.seatNumber = seatNumber + floorTag;
                    const isEnabled = response_data['data']['list-seat'][seats[i].dataset.seatNumber]['seat-is-enabled'];
                    seats[i].dataset.isEnabled = isEnabled;
                    
                    if(isEnabled == false)
                    {
                        seats[i].classList.add('bus-cell-disable');
                    }
                    seatNumber++;
                }

            }

            function changeTotalFloors()
            {
                if(totalFloors === 1)
                {
                    document.getElementById("bus-floor-2").style.display = "none";
                    document.getElementById("bus-floor-2").parentElement.style.display = "none";
                }
                else if(totalFloors === 2)
                {
                    document.getElementById("bus-floor-2").style.display = "grid";
                    document.getElementById("bus-floor-2").parentElement.style.display = "inline-flex";
                }
            }

        </script>

        <!--
        <script>
            function setSeats(floorElement)
            {
                const totalSeats = totalRows * totalColumns;
                floorElement.innerHTML = "";
                let tmpGridTemplateRows = "";
                for(let i = 0; i < totalRows; i++)
                {
                    tmpGridTemplateRows += "1fr ";
                    if(i !== totalRows - 1)
                    {
                        tmpGridTemplateRows += "0.3fr ";
                    }
                }
                floorElement.style.gridTemplateRows = tmpGridTemplateRows;
                floorElement.style.gridTemplateColumns = "repeat(" + totalColumns +  ", 1fr)";

                for(let i=1; i<=totalSeats; i++)
                {
                    const seat = document.createElement("div");
                    floorElement.appendChild(seat);
                    seat.innerText = i;
                    seat.classList.add("bus-cell");
                    if(seatType == "SEAT")
                    {
                        seat.classList.add("bus-cell-seat");
                    }
                    else if(seatType == "SLEEP")
                    {
                        seat.classList.add("bus-cell-sleep");
                    }
                    seat.classList.add("bus-cell-enable");
                    seat.addEventListener("click", selectSeat);

                    if(i < totalRows)
                    {
                        const walkingGap = document.createElement("span");
                        floorElement.appendChild(walkingGap);
                        walkingGap.classList.add("bus-waliking-gap");
                        walkingGap.style.gridColumnStart = "span " + totalColumns;
                    }
                }
            }
            function changeSeats(e)
            {
                e.preventDefault();
                const tmpRows = document.getElementById("bus-floor-rows").value;
                const tmpColumns = document.getElementById("bus-floor-columns").value;

                if(tmpRows === "" || tmpColumns === "")
                    return ;
                
                totalRows = parseInt(tmpRows);
                totalColumns = parseInt(tmpColumns);

                setSeats(floor1);
                setSeats(floor2);
                nameSeats(floor1, 1);
                nameSeats(floor2, totalRows +1);
            }
            function nameSeats(floorElement, startSeatNumber)
            {
                let floorTag = "L";
                if(floorElement.id === "bus-floor-2")
                {
                    floorTag = "U";
                }
                const seats = floorElement.getElementsByTagName("div");
                let seatNumber = startSeatNumber;
                for(let i=0; i<seats.length; i++)
                {
                    if(i % totalRows === 0 && i !== 0 && secondFloorExists)
                    {
                        seatNumber = seatNumber + totalRows;
                    }
                    if(!(seats[i].hasAttribute("data-seat-enabled")))
                    {
                        seats[i].dataset.seatEnabled = true;
                    }
                    seats[i].dataset.seatNumber = seatNumber + floorTag;
                    seats[i].innerText = seatNumber + floorTag;
                    seatNumber++;
                }
            }
            function changeTotalFloors(e)
            {
                const element = e.target;
                if(element.value === "1")
                {
                    document.getElementById("bus-floor-2").style.display = "none";
                    document.getElementById("bus-floor-2").parentElement.style.display = "none";
                    secondFloorExists = false;
                    nameSeats(floor1, 1);
                }
                else if(element.value === "2")
                {
                    document.getElementById("bus-floor-2").style.display = "grid";
                    document.getElementById("bus-floor-2").parentElement.style.display = "inline-flex";
                    secondFloorExists = true;
                    nameSeats(floor1, 1);
                    nameSeats(floor2, totalRows +1);
                }
            }

            function handleWalkingGap(e)
            {
                e.preventDefault();
                
                const rowNumber = parseInt(e.target.value);
                if(rowNumber >= totalRows || rowNumber <= 0)
                {
                    e.target.value = walkingGapRowNumber;
                    return;
                }
                
                if(walkingGapRowNumber !== null)
                {
                    floor1.getElementsByTagName("span")[walkingGapRowNumber -1].style.height = "15px";
                    floor2.getElementsByTagName("span")[walkingGapRowNumber -1].style.height = "15px";
                }

                floor1.getElementsByTagName("span")[rowNumber -1].style.height = "50px";
                floor2.getElementsByTagName("span")[rowNumber -1].style.height = "50px";
                walkingGapRowNumber = rowNumber;
            }

            function allowSeatSelection(e)
            {
                e.preventDefault();
                selection = !selection;
            }

            function selectSeat(e)
            {
                if(selection === false)
                {
                    return;
                }

                const element = e.target;
                element.classList.toggle("bus-cell-selected");
            }

            function disableSeats(e)
            {
                e.preventDefault();
                const floor1Selected = floor1.querySelectorAll(".bus-cell-selected");
                const floor2Selected = floor2.querySelectorAll(".bus-cell-selected");

                for(let i=0; i<floor1Selected.length; i++)
                {
                    floor1Selected[i].dataset.seatEnabled = (floor1Selected[i].dataset.seatEnabled === "true") ? "false" : "true";
                    floor1Selected[i].classList.toggle("bus-cell-disable");
                    floor1Selected[i].classList.remove("bus-cell-selected");
                }
                for(let i=0; i<floor2Selected.length; i++)
                {
                    floor2Selected[i].dataset.seatEnabled = (floor2Selected[i].dataset.seatEnabled === "true") ? "false" : "true";
                    floor2Selected[i].classList.toggle("bus-cell-disable");
                    floor2Selected[i].classList.remove("bus-cell-selected");
                }
                selection = false;
            }

            function changeSeatType(e)
            {
                const seats = document.querySelectorAll(".bus-cell");
                seatType = e.target.value;
                if(e.target.value === "SEAT")
                {
                    seats.forEach((seat) => {
                        seat.classList.remove("bus-cell-sleep");
                        seat.classList.add("bus-cell-seat");
                    });
                }
                else if(e.target.value === "SLEEP")
                {
                    seats.forEach((seat) => {
                        seat.classList.remove("bus-cell-seat");
                        seat.classList.add("bus-cell-sleep");
                    });
                }
            }

            function submitForm(e)
            {
                const seatStatus = [];
                
                floor1.querySelectorAll(".bus-cell").forEach((seat) => {
                    const tmpObj = {
                        'seat-seat-no' : seat.dataset.seatNumber,
                        'seat-is-enabled' : seat.dataset.seatEnabled
                    };
                    seatStatus.push(tmpObj);
                });

                if(secondFloorExists === true)
                {
                    floor2.querySelectorAll(".bus-cell").forEach((seat) => {
                        const tmpObj = {
                            'seat-seat-no' : seat.dataset.seatNumber,
                            'seat-is-enabled' : seat.dataset.seatEnabled
                        };
                        seatStatus.push(tmpObj);
                    });
                }
                
                document.getElementById("seats-status").value = JSON.stringify(seatStatus);
                
                return true;
            }
        </script>
        -->
    </div>
{% endblock %}