{% extends "layout.html" %}
{% block css %}
<style>
    .component-main {
        font-size: larger;
        text-align: center;
    }

    .main-table-grid {
        background-color: black;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 1px;
    }

    .table-cell {
        background-color: lightgreen;
        padding: 2vh;
        border: 1px solid black;
    }

    .table-cell-header {
        background-color: burlywood;
    }
</style>
    <link rel="stylesheet" href="/css/tables.css">
{% endblock %}
{% block content %}
    <div>
        <h2 class="main-title">
            My Operators
        </h2>
        
        <table class="table table-primary table-striped table-bordered border-primary">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Operator User Name</th>
                    <th scope="col">Operator Name</th>
                    <th scope="col">Operator Contact</th>
                </tr>
            </thead>
            <tbody>
            {% for operatorObj in response_data['data']['list-operator'] %}
                {% if operatorObj %}
                <tr>
                    <th scope="row">
                        {{loop.index}}
                    </th>
                    <td>
                        {{operatorObj['operator-username']}}
                    </td>
                    <td>
                        {{operatorObj['operator-name']}}
                    </td>
                    <td>
                        {{operatorObj['operator-contact']}}
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}