{% extends "layout.html" %}
{% block css %}
<style>
    .component-main {
        font-size: larger;
        text-align: center;
    }

    .main-table-grid {
        background-color: black;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 1px;
    }

    .table-cell {
        background-color: lightgreen;
        padding: 2vh;
        border: 1px solid black;
    }

    .table-cell-header {
        background-color: burlywood;
    }
</style>
{% endblock %}
{% block content %}
    <div class="component-main">
        <div class="main-title">
            My Busses
        </div>
        <div class="main-table-grid">
            <div class="table-cell-header table-cell">
                Number Plate
            </div>
            <div class="table-cell-header table-cell">
                Total Capacity
            </div>
            <div class="table-cell-header table-cell">
                Bus Type
            </div>

            {% for rowObj in response_data %}
            <div class="table-cell">
                {{rowObj['number-plate']}}
            </div>
            <div class="table-cell">
                {{rowObj['bus-total-seats']}}
            </div>
            <div class="table-cell">
                {{rowObj['bus-type']}}
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}