{% extends "layout.html" %}
{% block css %}
    <link rel="stylesheet" href="/css/tables.css">
    <style>
        img{
            width: 20px;
        }
    </style>
{% endblock %}
{% block content %}
    <div>
        <h2 class="main-title">
            My All Bookings
        </h2>
        
        <table class="table table-primary table-striped table-bordered border-primary">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">To City</th>
                    <th scope="col">Departure Date/Time</th>
                    <th scope="col">Passengers Name</th>
                    <th scope="col">Agency Name</th>
                    <th scope="col">Bus Number Plate</th>
                    <th scope="col">View Details</th>
                </tr>
            </thead>
            <tbody>
            {% for bookingObj in response_data['data'] %}
                {% if bookingObj %}
                <tr>
                    <th scope="row">
                        {% if bookingObj['schedule']['schedule-is-complete'] %}
                            <img src="media/small-check-mark-icon.svg">
                        {% else %}
                            {{loop.index}}
                        {% endif %}
                    </th>
                    <td>
                        {{bookingObj['city']['city-name']}}
                    </td>
                    <td>
                        {{bookingObj['schedule']['schedule-from-date']}} <br>
                        {{bookingObj['schedule']['schedule-departure-time']}}
                    </td>
                    <td>
                        {{bookingObj['passenger']['passenger-name']}}
                    </td>
                    <td>
                        {{bookingObj['owner']['owner-agency-name']}}
                    </td>
                    <td>
                        {{bookingObj['schedule']['bus-number-plate']}}
                    </td>
                    <td>    
                        <form action="{{url_for('.viewBookingDetails', bookingId= bookingObj['booking']['booking-id'])}}" method="GET">
                            <button type="submit" class="btn btn-primary">View Ticket</button>
                        </form>
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}