{% extends "layout.html" %}
{% block css %}
<style>
    .component-main {
        font-size: larger;
        text-align: center;
    }

    .main-table-grid {
        background-color: black;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        row-gap: 1px;
    }

    .table-cell {
        background-color: lightgreen;
        padding: 2vh;
        border: 1px solid black;
    }

    .table-cell-header {
        background-color: burlywood;
    }
</style>
{% endblock %}
{% block content %}
    <div class="component-main">
        <div class="main-title">
            View Stops
            <form action="{{ url_for('viewStop') }}" method="POST">
                <label for="name">Stop Name: </label>
                <input type="text" name="search">
                <button type="submit">Search</button>
            </form>
        </div>
        
        <div class="main-table-grid">
            <div class="table-cell-header table-cell">
                Stop ID
            </div>
            <div class="table-cell-header table-cell">
                Stop Name
            </div>
            <div class="table-cell-header table-cell">
                Stop Address
            </div>
            <div class="table-cell-header table-cell">
                In City
            </div>

            {% for rowObj in response_data['data'] %}
            <div class="table-cell">
                {{rowObj['stop']['stop-id']}}
            </div>
            <div class="table-cell">
                {{rowObj['stop']['stop-name']}}
            </div>
            <div class="table-cell">
                {{rowObj['stop']['stop-address']}}
            </div>
            <div class="table-cell">
                {{rowObj['city']['city-name']}}
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}