{% extends "layout.html" %}
{% block css %}
    <link rel="stylesheet" href="/css/tables.css">
{% endblock %}
{% block content %}
<div>
    <div class="main-title">
        <h2>
            My Passengers
        </h2>
    </div>
    <table class="table table-primary table-striped table-bordered border-primary">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Passenger Name</th>
                <th scope="col">Passenger Age</th>
                <th scope="col">Passenger Gender</th>
                <th scope="col">Passenger Contact</th>
            </tr>
        </thead>
        <tbody>
        {% for rowObj in response_data['data']['list-passenger'] %}
            {% if rowObj %}
            <tr>
                <th scope="row">
                    {{ loop.index }}.
                </th>
                <td>
                    {{rowObj['passenger-name']}}
                </td>
                <td>
                    {{rowObj['passenger-age']}}
                </td>
                <td>
                    {{rowObj['passenger-gender']}}
                </td>
                <td>
                    {{rowObj['passenger-contact']}}
                </td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}