{% extends "layout.html" %}
{% block css %}
    <style>
        .component-main{
            font-size: larger;
            text-align: center;
        }
        .main-table-grid {
            background-color: black;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            row-gap: 1px;
        }

        .table-cell {
            background-color: lightgreen;
            padding: 2vh;
            border: 1px solid black;
        }

        .table-cell-header{
            background-color: burlywood;
        }

    </style>
{% endblock %}
{# 
'''
    filters[fromCity] = cityName
    filters[toCity] = cityName
    filters[timeblock] = morning / afternoon / evening / night / all
    filters[busType] = sleep / seat / all
    filters[owner] = ownerUsername / all
    filters[sortPrice] = asc / desc / none
'''

filterFromCity = 'filter-from-city'
filterToCity = 'filter-to-city'
filterTimeBlock = 'filter-time-block'
filterBusType = 'filter-bus-type'
filterSortPrice = 'filter-sort-price'

timeBlockMorning = 'time-morning'
timeBlockNoon = 'time-noon'
timeBlockEvening = 'time-evening'
timeBlockNight = 'time-night' #}

{% block content %}
    <div class="component-main">
        <div class="main-title">
            <form action="{{url_for('viewSchedules')}}" method="POST">
                
                <label for="fromcity">From City:</label>
                <select id="fromcity" name="filter-from-city">
                    {% for city in response_data['data']['city'] %}
                        <option value="{{city['city-id']}}"> {{city['city-name']}} </option>
                    {% endfor %}
                </select>

                <label for="tocity">To City:</label>
                <select id="tocity" name="filter-to-city">
                    {% for city in response_data['data']['city'] %}
                        <option value="{{city['city-id']}}"> {{city['city-name']}} </option>
                    {% endfor %}
                </select>

                <label for="agency">Owner:</label>
                <input id="agency" type="text" name="owner-username" list="ownerList" />
                <datalist id="ownerList">
                    {% for owner in response_data['data']['owner'] %}
                        <option value="{{owner['username']}}"> {{owner['username']}} </option>
                    {% endfor %}
                </datalist>

                <label for="fromdate">Date:</label>
                <input id="fromdate" type="date" name="filter-date">

                <label for="timegroup">Time:</label>
                <fieldset id="timegroup">
                    <label for="time-morning">Morning:</label>
                    <input id="time-morning" type="radio" value="time-morning" name="filter-time-block">
                    <label for="time-noon">Noon:</label>
                    <input id="time-noon" type="radio" value="time-noon" name="filter-time-block">
                    <label for="time-evening">Evening:</label>
                    <input id="time-evening" type="radio" value="time-evening" name="filter-time-block">
                    <label for="time-night">Night:</label>
                    <input id="time-night" type="radio" value="time-night" name="filter-time-block">
                    <label for="time-all">All:</label>
                    <input id="time-all" type="radio" value="all" name="filter-time-block" checked>
                </fieldset>

                <label for="bustype">Bus Type:</label>
                <fieldset id="bustype">
                    <label for="sleep">SLEEP:</label>
                    <input id="sleep" type="radio" value="SLEEP" name="filter-bus-type">
                    <label for="seat">SEAT:</label>
                    <input id="seat" type="radio" value="SEAT" name="filter-bus-type">
                    <label for="all">all:</label>
                    <input id="all" type="radio" value="all" name="filter-bus-type" checked>
                </fieldset>

                <label for="sortprice">Sort Price:</label>
                <fieldset id="sortprice">
                    <label for="sortasc">Ascending:</label>
                    <input id="sortasc" type="radio" value="asc" name="filter-sort-price">
                    <label for="sortdesc">Descending:</label>
                    <input id="sortdesc" type="radio" value="desc" name="filter-sort-price">
                    <label for="nosort">Don't Sort:</label>
                    <input id="nosort" type="radio" value="no" name="filter-sort-price" checked>
                </fieldset>
                
                {% if response_data['options']['access-type'] == 'owner' %}
                    
                    <label for="trip-status">Trip Status:</label>
                    <fieldset id="trip-status">
                        <label for="trip-complete">Completed</label>
                        <input id="trip-complete" type="radio" value="complete" name="filter-trip-status">
                        <label for="trip-incomplete">Incomplete</label>
                        <input id="trip-incomplete" type="radio" value="incomplete" name="filter-trip-status" checked>
                    </fieldset>
                {% endif %}

                <input type="submit">
            </form>
            View Schedules
        </div>
        <div class="main-table-grid">
            <div class="table-cell-header table-cell">
                From City
            </div>
            <div class="table-cell-header table-cell">
                To City
            </div>
            <div class="table-cell-header table-cell">
                From Date/Time
            </div>
            <div class="table-cell-header table-cell">
                To Date/Time
            </div>
            <div class="table-cell-header table-cell">
                Operator
            </div>
            <div class="table-cell-header table-cell">
                Fair Fees
            </div>
            <div class="table-cell-header table-cell">
                Options
            </div>

            {% for rowObj in response_data['data']['schedule'] %}
                {% if rowObj['schedule'] %}
                    <div class="table-cell">
                        {{rowObj['from_city']['city-name']}}
                    </div>

                    <div class="table-cell">
                        {{rowObj['to_city']['city-name']}}
                    </div>
                    
                    <div class="table-cell">
                        {{rowObj['schedule']['schedule-from-date']}} <br> 
                        {{rowObj['schedule']['schedule-departure-time']}}
                    </div>

                    <div class="table-cell">
                        {{rowObj['schedule']['schedule-to-date']}} <br> 
                        {{rowObj['schedule']['schedule-drop-time']}}
                    </div>

                    <div class="table-cell">
                        {{rowObj['schedule']['operator-username']}}
                    </div>

                    <div class="table-cell">
                        {{rowObj['schedule']['schedule-fair-fees']}}
                    </div>

                    <div class="table-cell">
                        {% if (rowObj['owner']['user-username'] == response_data['options']['owner-username']) and response_data['options']['access-type'] == 'owner' %}
                            <form action="{{url_for('viewScheduleDetails')}}" method="POST">
                                <input type="hidden" name="schedule-id" value="{{rowObj['schedule']['schedule-id']}}"/>
                                <button type="submit">View More</button>
                            </form>
                        {% endif %}
                        {% if response_data['options']['access-type'] == 'customer' %}
                            <form action="{{url_for('bookSchedule')}}" method="POST">
                                <input type="hidden" name="schedule-id" value="{{rowObj['schedule']['schedule-id']}}"/>
                                <button type="submit">Book Schedule</button>
                            </form>
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}