{% extends "layout.html" %}
{% block css %}
<style>
    .component-main {
        text-align: center;
        align-items: center;
    }
</style>
<link rel="stylesheet" href="/css/busSeatEditor.css">
<link rel="stylesheet" href="/css/tables.css">
{% endblock %}
{% block content %}
    <div class="component-main">
        <h2 class="main-title">
            My Bus Details
        </h2>
        
        <table class="table table-primary table-striped table-bordered border-primary mb-4">
            <tbody>
                <tr>
                    <th scope="row">
                        Bus Number Plate
                    </th>
                    <td id="bus-number-plate">
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        Bus Type
                    </th>
                    <td id="bus-bus-type">
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        Bus Total Floors
                    </th>
                    <td id="bus-total-floors">
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        Bus Floor Total Rows
                    </th>
                    <td id="bus-floor-rows">
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        Bus Floor Total Columns
                    </th>
                    <td id="bus-floor-columns">
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        Bus Walking Gap Row
                    </th>
                    <td id="bus-walking-gap-row">
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="bus">
            <img class="bus-steering-wheel" src="/media/car-steering-wheel.svg" >
            <div id="bus-floor-1" class="bus-floor">

            </div>
        </div>
        <br><br>
        
        <div class="bus">
            <img class="bus-steering-wheel" src="/media/car-steering-wheel.svg" >
            <div id="bus-floor-2" class="bus-floor">
        
            </div>
        </div>
        <br><br>
        
        <script>
            let response_data = null
            const formData = new FormData();
            formData.append("bus-number-plate", "{{response_data['options']['bus-number-plate']}}")
            const data_url = "{{ url_for('.getBusDetails') }}";
            fetch(data_url, {
                body : formData,
                method : "POST"
            })
            .then((response) => response.json())
            .then((json) => {
                response_data = json;
                jsonLoaded();
            });

            let busType = null;
            let totalFloors = null;
            let floorRows = null;
            let floorColumns = null;
            let walkingGapRow = null;
            
            const floor1 = document.getElementById("bus-floor-1");
            const floor2 = document.getElementById("bus-floor-2");
            
            function jsonLoaded()
            {
                document.getElementById('bus-number-plate').innerText = response_data['data']['bus']['bus-number-plate'];
                busType = response_data['data']['bus']['bus-type'];
                totalFloors = response_data['data']['bus']['bus-total-floors'];
                floorRows = response_data['data']['bus']['bus-floor-rows'];
                floorColumns = response_data['data']['bus']['bus-floor-columns'];
                walkingGapRow = response_data['data']['bus']['bus-walking-gap-row'];
                document.getElementById('bus-bus-type').innerText = busType;
                document.getElementById('bus-total-floors').innerText = totalFloors;
                document.getElementById('bus-floor-rows').innerText = floorRows;
                document.getElementById('bus-floor-columns').innerText = floorColumns;
                document.getElementById('bus-walking-gap-row').innerText = walkingGapRow;

                changeTotalFloors();
                setSeats(floor1);
                nameSeats(floor1, 1);

                if(totalFloors == 2)
                {
                    setSeats(floor2);
                    nameSeats(floor2, floorRows +1);
                }
            }


            function setSeats(floorElement)
            {
                const totalSeats = floorRows * floorColumns;
                floorElement.innerHTML = "";
                let tmpGridTemplateRows = "";
                for(let i = 0; i < floorRows; i++)
                {
                    tmpGridTemplateRows += "1fr ";
                    if(i !== floorRows - 1)
                    {
                        tmpGridTemplateRows += "0.3fr ";
                    }
                }
                floorElement.style.gridTemplateRows = tmpGridTemplateRows;
                floorElement.style.gridTemplateColumns = "repeat(" + floorColumns +  ", 1fr)";

                let currentWalkingGapRowNumber = 1;
                for(let i=1; i<=totalSeats; i++)
                {
                    const seat = document.createElement("div");
                    floorElement.appendChild(seat);
                    seat.innerText = i;
                    seat.classList.add("bus-cell");
                    if(busType == "SEAT")
                    {
                        seat.classList.add("bus-cell-seat");
                    }
                    else if(busType == "SLEEP")
                    {
                        seat.classList.add("bus-cell-sleep");
                    }
                    seat.classList.add("bus-cell-enable");

                    if(i < floorRows)
                    {
                        const walkingGap = document.createElement("span");
                        floorElement.appendChild(walkingGap);
                        walkingGap.classList.add("bus-waliking-gap");
                        walkingGap.style.gridColumnStart = "span " + floorColumns;
                        if(currentWalkingGapRowNumber === walkingGapRow)
                        {
                            walkingGap.style.height = "50px";
                        }
                        currentWalkingGapRowNumber++;
                    }
                }
            }

            function nameSeats(floorElement, startSeatNumber)
            {
                let floorTag = "L";
                if(floorElement.id === "bus-floor-2")
                {
                    floorTag = "U";
                }
                const seats = floorElement.getElementsByTagName("div");
                let seatNumber = startSeatNumber;
                for(let i=0; i<seats.length; i++)
                {
                    if(i % floorRows === 0 && i !== 0 && (totalFloors == 2))
                    {
                        seatNumber = seatNumber + floorRows;
                    }
                    seats[i].innerText = seatNumber + floorTag;
                    seats[i].dataset.seatNumber = seatNumber + floorTag;
                    const isEnabled = response_data['data']['list-seat'][seats[i].dataset.seatNumber]['seat-is-enabled'];
                    seats[i].dataset.isEnabled = isEnabled;
                    
                    if(isEnabled == false)
                    {
                        seats[i].classList.add('bus-cell-disable');
                    }
                    seatNumber++;
                }

            }

            function changeTotalFloors()
            {
                if(totalFloors === 1)
                {
                    document.getElementById("bus-floor-2").style.display = "none";
                    document.getElementById("bus-floor-2").parentElement.style.display = "none";
                }
                else if(totalFloors === 2)
                {
                    document.getElementById("bus-floor-2").style.display = "grid";
                    document.getElementById("bus-floor-2").parentElement.style.display = "inline-flex";
                }
            }

        </script>
    </div>
{% endblock %}