{% extends "layout.html" %}
{% block css %}
    <link rel="stylesheet" href="/css/tables.css">
{% endblock %}

{% block content %}
    <div>
        <div class="main-title">
            <h2>
                My Schedules
            </h2>
        </div>
        <table class="table table-primary table-striped table-bordered border-primary">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Trip</th>
                    <th scope="col">Departure Date / Time</th>
                    <th scope="col">Dropping Date / Time</th>
                    <th scope="col">Bus</th>
                    <th scope="col">Details</th>
                </tr>
            </thead>
            <tbody>
            {% for rowObj in response_data['data'] %}
                {% if rowObj['schedule'] %}
                <tr>
                    <th scope="row">
                        {{ loop.index }}.
                    </th>
                    <td>
                        {{rowObj['from_city']['city-name']}} 
                        <br> -To- <br>
                        {{rowObj['to_city']['city-name']}}
                    </td>
                    <td>
                        {{rowObj['schedule']['schedule-from-date']}} <br> 
                        {{rowObj['schedule']['schedule-departure-time']}} <br>
                    </td>
                    <td>
                        {{rowObj['schedule']['schedule-to-date']}} <br> 
                        {{rowObj['schedule']['schedule-drop-time']}}
                    </td>
                    <td>
                        {{rowObj['bus']['bus-number-plate']}}
                    </td>
                    <td>
                        <form action="{{url_for('.viewOperatorScheduleDetails')}}" method="POST">
                            <input type="hidden" name="schedule-id" value="{{rowObj['schedule']['schedule-id']}}" >
                            <button type="submit" class="btn btn-primary">View More</button>
                        </form>
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}