{% extends "layout.html" %}
{% block css %}
<style>
    .component-main {
        font-size: larger;
        text-align: center;
    }

    .main-table-grid {
        background-color: black;
        display: grid;
        grid-template-columns: 1fr 3fr;
        row-gap: 1px;
    }

    .table-cell {
        background-color: lightgreen;
        padding: 2vh;
        border: 1px solid black;
    }

    .table-cell-header {
        background-color: burlywood;
    }

    {# Stop Container Styles #}
    .stop-container-wrapper{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .stop-container{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .single-stop{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .invisible-form{
        display: inline;
    }
    .editor-btn{
        padding: 5px;
        border: 1px solid grey;
    }
    fieldset{
        border:0 none;
        display: inline;
    }
    #trip-status-warning{
        display: none;
    }

    #msg-box{
        position: fixed;
        top: 20%;
        left: 40%;
        right: 40%;
        width: 20%;
        height: 10%;
        background-color: rgb(143, 217, 241);
        border: 2px solid rgb(48, 48, 48);
        border-radius: 5%;
        box-shadow: 0 0 20px grey;
        display: none;
        align-items: center;
        justify-content: center;
    }
    @media print
    {
        nav{
            display: none !important;
        }
    }
</style>
    <link rel="stylesheet" href="/css/tables.css">
{% endblock %}
{% block content %}

<div>
    <h2 class="main-title">
        My Ticket
    </h2>
    
    <table class="table table-primary table-striped table-bordered border-primary">
        <tbody>
            <tr>
                <th scope="row">
                    Ticket Number
                </th>
                <td>
                    {{ response_data['data']['booking']['booking-id'] }}
                </td>
            </tr>
            <tr>
                <th scope="row">
                    Seat Number
                </th>
                <td>
                    {{ response_data['data']['booking']['seat-no'] }}
                </td>
            </tr>
            <tr>
                <th scope="row">
                    Trip Details
                </th>
                <td>
                    {{ response_data['data']['from-city']['city-name'] }} - To -
                    {{ response_data['data']['to-city']['city-name'] }}
                </td>
            </tr>
            <tr>
                <th scope="row">
                    Departure Date/Time
                </th>
                <td>
                    {{ response_data['data']['schedule']['schedule-from-date'] }} <br>
                    {{ response_data['data']['schedule']['schedule-departure-time'] }}
                </td>
            </tr>
            <tr>
                <th scope="row">
                    Dropping Date/Time
                </th>
                <td>
                    {{ response_data['data']['schedule']['schedule-to-date'] }} <br>
                    {{ response_data['data']['schedule']['schedule-drop-time'] }}
                </td>
            </tr>
            <tr>
                <th scope="row">
                    Fair Fees Paid
                </th>
                <td>
                    &#8377; {{ response_data['data']['schedule']['schedule-fair-fees'] }}
                </td>
            </tr>
            <tr>
                <th scope="row">
                    Trip Status
                </th>
                <td>
                    {% if response_data['data']['schedule']['schedule-is-complete'] == true %}
                        Completed
                    {% else %}
                        Incomplete
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th scope="row">
                    Passenger Details
                </th>
                <td>
                    <table class="table table-primary table-striped table-bordered border-secondary">
                        <tr>
                            <th scope="row" class="w-25">
                                Passenger Name
                            </th>
                            <td>
                                {{ response_data['data']['passenger']['passenger-name'] }}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="w-25">
                                Passenger Contact
                            </th>
                            <td>
                                {{ response_data['data']['passenger']['passenger-contact'] }}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="w-25">
                                Passenger Gender
                            </th>
                            <td>
                                {{ response_data['data']['passenger']['passenger-gender'] }}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="w-25">
                                Passenger Age
                            </th>
                            <td>
                                {{ response_data['data']['passenger']['passenger-age'] }}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <th scope="row">
                    Agency Details
                </th>
                <td>
                    <table class="table table-primary table-striped table-bordered border-secondary">
                        <tr>
                            <th scope="row" class="w-25">
                                Agency Name
                            </th>
                            <td>
                                {{ response_data['data']['owner']['owner-agency-name'] }}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="w-25">
                                Agency Contact
                            </th>
                            <td>
                                {{ response_data['data']['owner']['owner-contact'] }}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <th scope="row">
                    Bus Details
                </th>
                <td>
                    <table class="table table-primary table-striped table-bordered border-secondary">
                        <tr>
                            <th scope="row" class="w-25">
                                Bus Number
                            </th>
                            <td>
                                {{ response_data['data']['bus']['bus-number-plate'] }}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="w-25">
                                Bus Type
                            </th>
                            <td>
                                {{ response_data['data']['bus']['bus-type'] }}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <th scope="row">
                    Operator Details
                </th>
                <td>
                    <table class="table table-primary table-striped table-bordered border-secondary">
                        <tr>
                            <th scope="row" class="w-25">
                                Operator Name
                            </th>
                            <td>
                                {{ response_data['data']['operator']['operator-name'] }}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="w-25">
                                Operator Contact
                            </th>
                            <td>
                                {{ response_data['data']['operator']['operator-contact'] }}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <th scope="row">
                    Boarding Stop
                </th>
                <td>
                    <table class="table table-primary table-striped table-bordered border-secondary">
                        <tr>
                            <th scope="row" class="w-25">
                                Stop Name
                            </th>
                            <td>
                                {{ response_data['data']['from-stop']['stop-name'] }}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="w-25">
                                Stop Address
                            </th>
                            <td>
                                {{ response_data['data']['from-stop']['stop-address'] }}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <th scope="row">
                    Dropping Stop
                </th>
                <td>
                    <table class="table table-primary table-striped table-bordered border-secondary">
                        <tr>
                            <th scope="row" class="w-25">
                                Stop Name
                            </th>
                            <td>
                                {{ response_data['data']['to-stop']['stop-name'] }}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="w-25">
                                Stop Address
                            </th>
                            <td>
                                {{ response_data['data']['to-stop']['stop-address'] }}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <th scope="row">
                    Options
                </th>
                <td>
                    <button class="btn btn-primary" onclick="print()">Print</button>
                    <button class="btn btn-primary" onclick="copyLink()">Share</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div id="msg-box">
        Copied!
    </div>
    <script>
        function copyLink()
        {
            const dummy = document.createElement('input'),
            text = window.location.href;
            document.body.appendChild(dummy);
            dummy.value = text;
            dummy.select();
            document.execCommand('copy');
            document.body.removeChild(dummy);

            document.getElementById("msg-box").style.display = "flex";
            setTimeout(function(){
                document.getElementById("msg-box").style.display = "none";
            }, 1500);
        }
    </script>
</div>

{% endblock %}