{% extends "layout.html" %}
{% block css %}
<style>
    .search-options{
        background-color: rgb(159, 217, 255);
    }
    .search-options > form{
        padding: 1vh;
        justify-content: center;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
</style>
<link rel="stylesheet" href="/css/tables.css">
{% endblock %}
{% block content %}
    <div>
        <h2 class="main-title">
            View Cities
        </h2>
        <div class="search-options">
            <form action="{{ url_for('.viewCity') }}" method="POST">
                <div class="form-floating d-inline-block w-75">
                    <input type="text" class="form-control" id="name" placeholder="City Name" name="search" autocomplete="off">
                    <label for="name">Search City Name</label>
                </div>
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
        </div>
        
        <table class="table table-primary table-striped table-bordered border-primary">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">City Name</th>
                </tr>
            </thead>
            <tbody>
                {% for cityObj in response_data['data']['list-city'] %}
                {% if cityObj %}
                <tr>
                    <th scope="row">
                        {{ loop.index }}.
                    </th>
                    <td>
                        {{cityObj['city-name']}}
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}