
/* ////////////////////////////////// Body Container //////////////////////////////////// */

.body-container {
    margin: 2rem 0;
}

.body-container form .form-group {
    display: inline-block;
}

.body-container form .form-group:first-child {
    margin-right: 50px;
}

.body-container form .form-group label {
    display: inline-block;
}

.body-container form .form-group label span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-weight: 500;
}

.body-container form .form-group label span img {
    width: 35px;
    margin-left: 5px;
}

.animate {
    animation: animateMapLocation1 0.5s ease-in-out 1 forwards;
}

.animateRM {
    animation: animateMapLocation1RM 0.5s ease-in-out 1 forwards;
}

@keyframes animateMapLocation1 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(40deg);
    }
}

@keyframes animateMapLocation1RM {
    0% {
        transform: rotate(40deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.body-container form .form-group input {
    border-radius: 5px;
    font-size: 1.2em;
    padding: 10px;
    color: #4a4343;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.body-container form .form-group input:focus {
    outline: none;
}

/* ///////////coloring to input forms */

.body-container form .fromLocation label span {
    color: #f4492a;
}

.body-container form .fromLocation input {
    border: 2px solid #f4492a81;
}

.body-container form .fromLocation input:focus {
    border: 2px solid #f4492a;
}

.body-container form .toLocation label span {
    color: #2a49f4;
}

.body-container form .toLocation input {
    border: 2px solid #2a49f491;
}

.body-container form .toLocation input:focus {
    border: 2px solid #2a49f4;
}

/* ////////////////////////////////// Card Component //////////////////////////////////// */
.cardList {
    padding: 0 50px;
    list-style: none;
    width: 80%;
    margin: 0 auto;
}

.cardList .card {
    border: 3px solid #00000055;
    margin: 20px 0;
    padding: 20px 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: all ease-in-out 0.1s;
    position: relative;
    color: #4a4343;
}

.cardList .card:hover {
    outline: 3px solid #00000033;
    transform: scale(1.032, 1.052);
    background: #f0f8ffaa;
}

.cardList .card .left {
    width: 90%;
}

.cardList .card .right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardList .card .right a {
    margin-left: 20px;
    display: inline-block;
    background-color: whitesmoke;
    text-decoration: none;

    padding: 1.8rem 1.6rem;
    font-size: 1.15em;
    border-radius: 10px;
    border: 2px solid #2a49f4;
    color: #2a49f4;
    font-weight: 600;
    cursor: pointer;
    transition: all ease-in-out 0.15s;
}

.cardList .card .right a:focus {
    border: 2px solid #2a49f4;
    outline: 4px solid #2a48f481;
}

.cardList .card .right a:hover {
    background: #2a49f4;
    color: white;
}

.cardList .card .left hr {
    margin: .5rem 0;
    border-color: #55555522;
}

.cardList .card .left .card-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cardList .card .left .card-head h1 {
    font-size: 1.8em;
}

.cardList .card .left .card-head h1 img {
    width: 22px;
    margin-right: 10px;
}

.cardList .card .left .card-head h2 {
    font-size: 1.2em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cardList .card .left .card-head h2 img {
    width: 22px;
    margin-right: 5px;
}

.cardList .card .left p {
    font-size: 1.16rem;
}

.imp {
    color: #f4492add;
}

.imp0 {
    color: #f4492a;
}

.imp1 {
    color: #2a49f4dd;
}


.disabled {
    color: #4a4343 !important;
    border-color: #4a4343 !important;
    pointer-events: none !important;
}

.available {
    color: #08c024dd;
    /* color: #00000066; */
    font-weight: 600 !important;
    font-size: 1em !important;
}

.not-available {
    color: #f4492a;
    /* color: #00000099; */
    font-weight: 600 !important;
    font-size: 1em !important;
}
